<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{encabezado}}</title>

<style>
    body {align-content: center;}

    h1,h2 {color: rgb(250, 167, 2);}
    input {font-size: 10px;}


</style>
</head>
<body>

    <br>
    <h1>Burger Bros</h1>
    <br>
    <h2>Esta es la información de tu Pedido:</h2>
    <br><br>
    <table>
        <thead>
            <tr>
                <th>No Pedido</th>
                <th>Cliente</th>
                <th>Producto</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{pedido}}</td>
                <td>{{cliente}}</td>
                <td>{{producto}}</td>
                <td>{{precio}}</td>
            </tr>
        </tbody>
    </table>
    <br>
    <h3>Muchas Gracias por tu Compra</h3>
    
    
</body>
</html>